input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.selectInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.container {
  width: 55%;
  margin: 10vh auto 0;
  border-radius: 10px;
  padding: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.addUser {
  width: 55%;
  margin: 2vh auto;
  border-radius: 10px;
  padding: 20px 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: end;
}
table {
  padding: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table td:last-child,
th:last-child {
  width: 5%;
  text-align: center;
}
table td:first-child,
th:first-child {
  width: 8%;
  text-align: start;
}

th,
td {
  text-align: start;
  padding: 20px;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}

tbody {
  color: rgb(114, 114, 114);
}
table tr:last-child td{
  border-bottom:none;
}
.modal_form {
  background-color: white;
  width: 100%;
  margin: 25vh auto;
  border-radius: 8px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.modalStyle {
  width: 50%;
  margin: auto;
}
.form {
  padding: 5px;
}
.row1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.row2 {
  display: flex;
  gap: 5%;
  padding: 10px;
}
.row3 {
  padding: 10px;
}
.row_bottom {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.wrapper {
  color: rgb(98, 98, 98);
  display: flex;
  flex-direction: column;
  width: 30%;
}
input,
.selectInput,
.dateInput {
  border: 0.1px solid rgb(203, 203, 203);
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  color: rgb(98, 98, 98);
  font-size: medium;
}
input:focus,
.selectInput:focus,
.dateInput:focus {
  outline: none;
}

.dateInput {
  width: 95%;
}
.submitBtn , .openModalBtn{
  background-color: #ffaa3b;
  border: none;
  border-radius: 10px;
  color: rgb(88, 88, 88);
  padding: 15px 32px;
  text-align: center;
  width: 20%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

